@media only screen and (min-width : 320px) and (max-width : 480px) {

    /* ====================================================== */

    /* ---------- Navbar ---------- */

    .nav-link{
        margin-left: 0;
        background-color: #D5FF3F;
    }

    /* ---------- End Navbar ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Header ---------- */

    #header-my-portfolio{
        padding: 34% 0 0;
        text-align: center;
    }

    #header-my-portfolio h4{
        font-size: 1rem;
        text-align: center;
    }
    
    #header-my-portfolio .row-header-title .header-title{
        margin: 6% 0 0;
    }
    
    #header-my-portfolio .row-header-title p{
        font-size: 2.2rem;
    }
    
    #header-my-portfolio .row-header-title img{
        display: none;
    }
    
    #header-my-portfolio .row-header-title-2 p{
        font-size: 2.2rem;
        margin: 0 0 2% 0;
    }
    
    #header-my-portfolio .row-header-greeting p{
        font-size: 1rem;
    }

    #header-my-portfolio .row-header-greeting .header-complete-projects,
    #header-my-portfolio .row-header-greeting .header-years-experience{
        margin: 8% 0 0;
    }
    
    #header-my-portfolio .row-header-greeting .header-complete-projects h3{
        font-size: 2rem;
    }
    
    #header-my-portfolio .row-header-greeting .header-years-experience h3{
        font-size: 2rem;
    }
    
    #header-my-portfolio .row-header-button{
        margin: 2% 0;
        padding: 0;
    }
    
    #header-my-portfolio .row-header-button .horizontal-line{
        margin: auto 0;
    }
    
    #header-my-portfolio .row-header-button hr{
        width: 104%;
    }
    
    #header-my-portfolio .row-header-button button{
        margin: 0 0 4% 0;
    }

    #header-my-portfolio .row-header-button img{
        width: 15px;
        margin-right: 5px !important;
    }

    #header-my-portfolio .header-big-image{
        margin: 16% 0 0;
    }
    
    #header-my-portfolio .header-big-image img{
        border-radius: 40px 40px 0 0;
    }
    
    #header-my-portfolio .header-big-image .header-round-arrow{
        height: 75px;
        width: 75px;
        left: 10%;
        top: -16%;
        border-radius: 50%;
    }
    
    #header-my-portfolio .header-big-image .header-round-arrow-inside{
        height: 70px;
        width: 70px;
    }
    
    #header-my-portfolio .header-big-image .header-round-arrow-inside img{
        width: 35px;
    }

    /* ---------- End Header ---------- */

    /* ====================================================== */



    /* ====================================================== */

    /* ---------- Marquee Tech Stack ---------- */

    #marquee-tech-stack{
        height: 65px;
    }
    #marquee-tech-stack .my-tech-stack span{
        font-size: 1.5rem;
        font-family: var(--title-font);
        margin-right: 25px;
        color: #D5FF3F;
    }
    
    #marquee-tech-stack .my-tech-stack .rounded-element{
        height: 1rem;
        width: 1rem;
        margin-right: 25px;
    }
    

    /* ---------- End Marquee Tech Stack ---------- */

    /* ====================================================== */

    /* ====================================================== */

    /* ---------- My Service ---------- */

    #my-service{
        padding: 12% 0;
        height: 100%;
    }

    #my-service h1{
        font-size: 2rem;
    }

    #my-service .round-my-awesome{
        display: none;
    }

    #my-service .round-my-service{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #D5FF3F;
        display: inline-block;
    }

    #my-service p{
        color: #FFFFFF;
        font-size: 1rem;
        margin-top: 2.2%;
    }

    .my-service-description{
        position: relative;
    }

    .my-service-button{
        position: absolute;
        right: 0;
        top: 110%;
    }

    #my-service button{
        margin: 4% 0;
        width: 100%;
        padding: 4.4% 0;
        border-radius: 2rem;
        background-color: transparent;
        border: #515151 solid 1px;
        color: #515151;
        transition: 0.3s all ease-in-out;
    }

    #my-service button:hover{
        border: #FFFFFF solid 1px;
        color: #FFFFFF;
    }

    #my-service .hr-service-1{
        margin-top: 40%;
    }
    
    #my-service .hr-service-2{
        display: none;
    }

    #my-service .my-service-detail{
        margin-top: 12%;
        flex-direction: column-reverse;
    }

    #my-service .my-service-detail .btn-ba-client{
        width: 100%;
        padding: 4% 0;
        border-radius: 2rem;
        background-color: #D5FF3F;
        border: #D5FF3F solid 1px;
        color: #101010;
        transition: 0.3s all ease-in-out;
        font-weight: 600;
        margin-top: 12%;
    }

    #my-service .my-service-detail h4{
        color: #FFFFFF;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 0;
    }
    
    #my-service .my-service-detail .my-service-detail-tech hr{
        height: 0.15rem;
        background-color: #FFFFFF;
        margin-top: 6%;
    }
    
    #my-service .my-service-detail .my-service-detail-tech .my-service-detail-tech-description{
        margin-top: 4%;
    }
    
    #my-service .my-service-detail .my-service-detail-tech .my-service-detail-tech-description h5{
        color: #FFFFFF;
        font-size: 28px;
        font-weight: 600;
        z-index: 999;
    }
    
    #my-service .my-service-detail .my-service-detail-tech .my-service-detail-tech-description p{
        margin-top: 0;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        z-index: 999;
    }

    /* ---------- End My Service ---------- */

    /* ====================================================== */



    /* ====================================================== */

    /* ---------- Jumbotron ---------- */

    #jumbotron-portfolio{
        padding: 12% 0;
    }

    /* ---------- End Jumbotron ---------- */

    /* ====================================================== */

}