@import url('https://fonts.googleapis.com/css2?family=Stretch+Pro:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    background-color: #171717;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Stretch Pro';
    src: url('../fonts/StretchPro.otf') format('opentype');
}

:root{
    --title-font: 'Stretch Pro', sans-serif;
}

/* ====================================================== */

/* ---------- Navbar ---------- */

.navbar{
    padding: 10px 0;
    height: 90px;
    background-color: #D5FF3F;
}

.nav-link{
    font-size: 1.125rem;
    color: #171717;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    margin: auto 0 auto 30px;
}

.nav-link:hover{
    color: #171717;
}

.nav-link button{
    margin-right: -8px;
    border-radius: 20px;
    background-color: #171717;
    border: 1px solid #171717;
    width: 120px;
    transition: 0.3s ease-in-out;
}

.nav-link button:hover{
    background-color: transparent;
    color: #171717;
    border: 1px solid #171717;
}

/* ---------- End Navbar ---------- */

/* ====================================================== */



/* ====================================================== */

/* ---------- Header ---------- */

#header-my-portfolio{
    background-color: #D5FF3F;
    padding: 10% 0 0;
}

#header-my-portfolio h4{
    font-family: var(--title-font);
    margin: auto 0;
    color: #171717;
}

#header-my-portfolio .row-header-title .header-title{
    margin: 1% 0 0;
}

#header-my-portfolio .row-header-title p{
    font-size: 7rem;
    font-family: var(--title-font);
    margin: auto 0;
    color: #171717;
}

#header-my-portfolio .row-header-title .header-image{
    margin: auto 0;
}

#header-my-portfolio .row-header-title img{
    height: 80px;
    width: 100%;
}

#header-my-portfolio .row-header-title-2 p{
    font-size: 7rem;
    font-family: var(--title-font);
    margin: auto 0;
    color: #171717;
}

#header-my-portfolio .row-header-greeting p{
    font-size: 1.25rem;
    margin: auto 0;
    font-weight: 500;
    color: #171717;
}

#header-my-portfolio .row-header-greeting .header-complete-projects h3{
    font-size: 3rem;
    font-family: var(--title-font);
    color: #171717;
}

#header-my-portfolio .row-header-greeting .header-years-experience h3{
    font-size: 3rem;
    font-family: var(--title-font);
    color: #171717;
}

#header-my-portfolio .row-header-button{
    margin: 3% 0;
    padding: 0;
}

#header-my-portfolio .row-header-button .horizontal-line{
    margin: auto 0;
}

#header-my-portfolio .row-header-button hr{
    width: 104%;
    margin-left: -1.8%;
    color: #171717;
}

#header-my-portfolio .row-header-button button{
    width: 104%;
    padding: 4.4% 0;
    border-radius: 30px;
    background-color: transparent;
    border: #171717 solid 1px;
    color: #171717;
    transition: 0.3s all ease-in-out;
}

#header-my-portfolio .row-header-button button:hover{
    background-color: #171717;
    color: #FFFFFF;
}

#header-my-portfolio .row-header-button button:hover img{
    filter: brightness(0) invert(1);
}

#header-my-portfolio .header-big-image{
    margin-top: 10%;
    position: relative;
}

#header-my-portfolio .header-big-image img{
    width: 100%;
    height: auto;
    border-radius: 120px 120px 0 0;
}

#header-my-portfolio .header-big-image .header-round-arrow{
    height: 160px;
    width: 160px;
    position: absolute;
    background-color: #292929;
    z-index: 10;
    left: 8%;
    top: -12%;
    border-radius: 50%;
}

#header-my-portfolio .header-big-image .header-round-arrow-inside{
    height: 145px;
    width: 145px;
    position: absolute;
    background-color: #171717;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#header-my-portfolio .header-big-image .header-round-arrow-inside img{
    width: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
}

/* ---------- End Header ---------- */

/* ====================================================== */



/* ====================================================== */

/* ---------- Marquee Skill ---------- */

#marquee-tech-stack{
    height: 130px;
    background-color: #101010;
    position: relative;
}

#marquee-tech-stack .my-tech-stack{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#marquee-tech-stack .my-tech-stack span{
    font-size: 3rem;
    font-family: var(--title-font);
    margin-right: 50px;
    color: #D5FF3F;
}

#marquee-tech-stack .my-tech-stack .rounded-element{
    height: 20px;
    width: 20px;
    background-color: #D5FF3F;
    border-radius: 50%;
    margin-right: 50px;
    display: inline-block;
}

/* ---------- End Marquee Skill ---------- */

/* ====================================================== */



/* ====================================================== */

/* ---------- My Service ---------- */

#my-service{
    padding: 6% 0 0 0;
}

#my-service h1{
    color: #FFFFFF;
    font-family: var(--title-font);
    font-size: 4rem;
    margin: auto 0;
    padding: 1% 0;
}

#my-service .round-my-awesome{
    margin-left: 30%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #292929;
    display: inline-block;
}

#my-service .round-my-service{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D5FF3F;
    display: inline-block;
}

#my-service p{
    color: #FFFFFF;
    font-size: 1.25rem;
    margin-top: 2.2%;
}

.my-service-description{
    position: relative;
}

.my-service-button{
    position: absolute;
    right: 0;
    top: -82%;
}

#my-service button{
    margin: 4% 0;
    width: 100%;
    padding: 4.4% 0;
    border-radius: 30px;
    background-color: transparent;
    border: #515151 solid 1px;
    color: #515151;
    transition: 0.3s all ease-in-out;
}

#my-service .active{
    border: #FFFFFF solid 1px;
    color: #FFFFFF;
}

#my-service button:hover{
    border: #FFFFFF solid 1px;
    color: #FFFFFF;
}

#my-service .hr-service-1,
#my-service .hr-service-2{
    height: 4px;
    background-color: #FFFFFF;
    margin-top: 6%;
}

#my-service .my-service-detail{
    margin-top: 4%;
}

#my-service .my-service-detail .sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 14%;
}

#my-service .my-service-detail .btn-ba-client{
    width: 100%;
    border-radius: 30px;
    background-color: #D5FF3F;
    border: #D5FF3F solid 1px;
    color: #171717;
    transition: 0.3s all ease-in-out;
    font-weight: 600;
    margin-top: 0;
}

#my-service .my-service-detail .btn-ba-client:hover{
    padding: 6%;
}

#my-service .my-service-detail h4{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0;
}

#my-service .my-service-detail .my-service-detail-tech{
    margin-top: 4%;
}

#my-service .my-service-detail .my-service-detail-tech button{
    width: 100%;
    padding: 4.4% 0;
    border-radius: 30px;
    background-color: transparent;
    border: #515151 solid 1px;
    color: #FFFFFF;
    font-weight: 500;
}

#my-service .my-service-detail .my-service-detail-tech hr{
    height: 2px;
    background-color: #FFFFFF;
    margin-top: 6%;
}

#my-service .my-service-detail .my-service-detail-tech .my-service-detail-tech-description{
    margin-top: 4%;
}

#my-service .my-service-detail .my-service-detail-tech .my-service-detail-tech-description h5{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 500;
    z-index: 999;
}

#my-service .my-service-detail .my-service-detail-tech .my-service-detail-tech-description p{
    margin-top: 0;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 400;
    z-index: 999;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* ---------- End My Service ---------- */

/* ====================================================== */



/* ====================================================== */

/* ---------- Jumbotron Portfolio ---------- */

#jumbotron-portfolio{
    padding: 6% 0 0;
}

/* ---------- End Jumbotron Portfolio ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Best Project ---------- */

#best-project-content{
    padding: 6% 0 0;
}

#best-project-content h1{
    color: #FFFFFF;
    font-family: var(--title-font);
    font-size: 3.375rem;
    margin: auto 0;
    padding: 1% 0;
}

#best-project-content .round-best-project{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D5FF3F;
    display: inline-block;
}

#best-project-content p{
    color: #FFFFFF;
    font-size: 1.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#best-project-content .container > .row:nth-child(2){
    margin-top: 4%;
}

#best-project-content button{
    width: 100%;
    padding: 4.4% 0;
    border-radius: 30px;
    background-color: transparent;
    border: #515151 solid 1px;
    color: #515151;
    transition: 0.3s all ease-in-out;
}

#best-project-content button:hover{
    border: #FFFFFF solid 1px;
    color: #FFFFFF;
}

#best-project-content .active{
    border: #FFFFFF solid 1px;
    color: #FFFFFF;
}

#best-project-content .round-my-best-project{
    margin-left: 24%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #292929;
    display: inline-block;
}

#best-project-content .container > .row:nth-child(3){
    margin-top: 4%;
}

#best-project-content .overlay-container{
    position: relative;
    background-color: #292929;
    height: 320px;
    width: auto;
    overflow: hidden;
}

#best-project-content .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

#best-project-content .overlay-container:hover .overlay{
    opacity: 1;
}

#best-project-content .overlay-content{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
}

#best-project-content .overlay-content > .row:nth-child(1){
    color: white;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}

#best-project-content .overlay-content > .row:nth-child(2){
    color: white;
    width: 100%;
    margin-left: 0;
    padding: 0 2%;
    top: 60%;
}

/* ---------- End Best Project ---------- */

/* ====================================================== */



/* ====================================================== */

/* ---------- Motivated Content ---------- */

#motivated-content{
    padding: 6% 0 0;
}

#motivated-content h1{
    font-size: 3.3rem;
    color: #FFFFFF;
    font-family: var(--title-font);
    margin: auto 0;
}

#motivated-content p{
    color: #FFFFFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#motivated-content .btn-motivated-contact{
    width: 50%;
    border-radius: 30px;
    background-color: #D5FF3F;
    border: #D5FF3F solid 1px;
    color: #101010;
    transition: 0.3s all ease-in-out;
    font-weight: 600;
}

#motivated-content .btn-motivated-contact:hover{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
}

#motivated-content .container > .row:nth-child(4){
    margin-top: 2%;
}

#motivated-content .btn-listen-project{
    width: 320px;
    padding: 4% 0;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
}

/* ---------- End Motivated Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Case Study Content ---------- */

#case-study{
    padding: 6% 0 0;
}

#case-study .container > .row:nth-child(1) h1{
    font-size: 2.65rem;
    font-family: var(--title-font);
    color: #FFFFFF;
}

#case-study .case-study-description{
    margin-top: 6%;
}

#case-study .case-study-description .sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 14%;
}

#case-study .case-study-description .btn-case-study{
    width: 100%;
    border-radius: 30px;
    background-color: #D5FF3F;
    border: #D5FF3F solid 1px;
    color: #171717;
    transition: 0.3s all ease-in-out;
    font-weight: 600;
    margin-top: 0;
    padding: 4% 0;
}

#case-study .case-study-description .btn-case-study:hover{
    padding: 6%;
}

#case-study .case-study-description p{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: auto 0;
}

#case-study .case-study-description .cs-short-description .description-two {
    margin-top: 18%;
}

#case-study .cs-workflow{
    margin-top: 2%;
}

#case-study .cs-workflow p{
    color: #FFFFFF;
    font-size: 1.125rem;
    margin: auto 0;
}

/* ---------- End Case Study Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- My Industry Content ---------- */

#my-industry{
    padding: 6% 0 0;
}

#my-industry .industry-head-title-one p{
    color: #FFFFFF;
}

#my-industry .industry-head-title-two p{
    font-size: 2.125rem;
    color: #FFFFFF;
}

#my-industry .industry-type{
    margin-top: 2%;
}

/* ---------- End My Industry Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- FAQ Content ---------- */

#faq-content{
    padding: 6% 0 0;
}

#faq-content h1{
    font-size: 3rem;
    font-family: var(--title-font);
    color: #FFFFFF;
    line-height: 90px;
    margin: auto 0;
}

#faq-content .wrapper {
    border-bottom: 1px solid #FFFFFF;
    overflow: hidden;
}

#faq-content .wrapper .question-container {
    width: 100%;
    text-align: left;
    padding: 20px 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: transparent;
    border: none;
    cursor: pointer;
}

#faq-content .question-container.active {
    color: #FFFFFF;
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

#faq-content .wrapper .arrow {
    font-size: 2rem;
    transition: .5s ease-in-out;
}

#faq-content .arrow.active {
    rotate: 180deg;
    color: #FFFFFF;
}

#faq-content .wrapper .answer-container {
    padding: 0 10px;
    transition: height .7s ease-in-out;
    margin-bottom: 2%;
}

#faq-content .wrapper .answer-content {
    padding: 12px 0;
    font-size: 18px;
    color: #FFFFFF;
}

/* ---------- End FAQ Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Footer Content ---------- */

#footer{
    margin-top: 6%;
    padding: 2% 0;
    background-color: #292929;
}

#footer .container > .row:nth-child(2){
    margin-top: 2%;

    p{
        color: #FFFFFF;
    }
}

/* ---------- End Footer Content ---------- */

/* ====================================================== */